@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    overflow-x: hidden;
}
.logo{
    color: floralwhite;
    text-shadow: 2px 2px 1px #000000a6;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.active{
    color: crimson;
    text-decoration: underline;
    font-weight: bold;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
    font-size: large;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('images/header-bg.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-shadow: 3px 3px 7px #000000a6;
}

.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;

}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: crimson;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background: crimson;
    border-radius: 30px;
    color: whitesmoke;
    text-shadow: 1px 1px 5px #000000a6;
    box-shadow: 2px 2px 5px #00000055;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* events */
section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: #0d0338;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* background: grey; */
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row .col img{
    max-width: 450px;
    max-height: 300px;
    /* min-width: 300px;
    min-height: 300px; */
}
.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3.5vmin;
    color: #35181b;
    margin: 20px auto;
}
p{
    color: #3f043c;
    padding: 0px 40px;
}
.events p{
    text-align: center;
}
.events .ctn{
    margin-top: 30px;
}
.explore{
    width: 100%;
    height: 100vh;
    background-image: url('images/bg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 2px 7px #000000a6;
}
.explore-content h1{
    font-size: 7vmin;
}
.explore-content .line{
    margin-bottom: 50px;
}
.explore-content p{
    color: azure;
}
.explore-content .ctn{
    margin: 40px;
}
/* .tours .row .col{
    width: 50%;
} */
.content-col{
    width: 40%;
}
.image-col{
    width: 60%;
    margin-left: 20px;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img{
    max-width: 300px;
    min-height: 300px;
    margin: 15px;
}
.content-col h1{
    font-size: 7vmin;
    color: #3f043c;
}
.content-col .line{
    margin-left: 10px;
}
.content-col p{
    padding: 0;
    margin: 30px auto;

}
.content-col .ctn{
    margin-left: -100px;

}
.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #3d5062;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}

/* mobile devices */
@media only screen and (max-width:850px)
{
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: indigo;
        margin-top: -1200px;
        transition: all 0.5s ease;
        border-bottom-right-radius: 30%;
    }
    .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li{
        margin: 30px auto;
    }
    li:hover{
        font-weight: bold;
    }
    /* events */
    .events .row img{
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    /* .col img{
        max-width: 90%;
    } */
    /* explore */
    .explore-content{
        width: 90%;
    }
    .explore-content h1{
        text-align: center;
    }
    .tours .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .image-gallery img{
        /* width: 90%; */
        margin: 15px auto;
        max-width: 325px;
        min-height: 325px;
    }
    .footer{
        padding: 10px;
    }
}

/* animations  */

img{
    transition: transform .5s ease;
}
img:hover{
    transform: scale(1.1);
}
.ctn:hover{
    background: whitesmoke;
    color: crimson;
    box-shadow: 2px 2px 5px #00000095;
}
li:hover{
    color: crimson;
    cursor: pointer;
}