@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#logo{ 
	position:fixed; 
	top:0; 
	left:0; 
  z-index: 997;
  transition: all 0.5s;
  padding: 22px 50px;
} 
#logo img{
  border-radius: 5%;}
body {
  height: 100vh;
  padding: 35px;
  background-image: url(../img/black.png);
  color: white;
  font-family: "Montserrat", sans-serif;
}
h1 {
  margin: 15px 0;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}
input {
  transition: 0.5s ease-in-out;
  margin: 10px 0;
  font-size: 18px;
  padding: 5px;
  background: rgb(250, 249, 249);
  border: none;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  margin: 35px 0;
}
button {
  margin: 5px;
  padding: 10px;
  border: none;
  font-size: 18px;
  border-radius: 5%;
  transition: 0.5s ease-in-out;
}

button:hover{
  
  cursor:pointer;
}
label {
  font-size: 12px;
}
form {
  height: 20%;
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 370px;
  margin: 5px auto;
}
form button {
  background: green;
  width: 100%;
  margin: 5px 0;
  color: white;
}
.start {
  background: rgb(48, 34, 250);
  color: white;
}
.break {
  background: rgb(0, 199, 116);
  color: #000000;
}
.reset {
  background: rgb(252, 5, 59);
  color: #000000;
}
.pause {
  background: rgb(248, 172, 86);
  color: white;
}
.resume {
  background: rgb(127, 43, 211);
  color: white;
}
.clock {
  padding: 3px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 30%;
  font-size: 24px;
}
.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.progress-ring__circle {
  transition: 0.5s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgb(62, 255, 94);
}
.init-ring {
  position: absolute;
  top: 50%;
  left: 50%;
}

.init-ring__circle {
  stroke: rgb(249, 252, 249);
}


footer {
  /* position: fixed; */
  bottom: 4px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.danger {
  stroke: rgb(243, 17, 28);
  animation: pulse 0.9s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: rotate(-90deg) scale(1);
  }
  50% {
    transform: rotate(-90deg) scale(1.05);
  }
  75% {
    transform: rotate(-90deg) scale(0.8);
  }
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-areas:
      "head head"
      "clock form"
      "btns ji";
  }
  .btn-group {
    grid-area: btns;
    justify-content: center;
  }
 
  .clock {
    grid-area: clock;
    height: 100%;
  }
  h1 {
    grid-area: head;

    align-self: center;
  }
  form {
    align-self: center;
    justify-self: center;
    grid-area: form;
    width: 50%;
    justify-content: space-around;
  }
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  form {
    height: 40%;
  }
  footer {
    position: static;
  }
}
