body{
    margin: 0px;
    padding: 0px;
    background-color: #a9ffcd;
    
}

h1{
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    color: #f1a532;
    margin: 4px 1px;
}

legend{
    font-size: 1.6rem;
    color: #E04DB0;
}
.feild{
    font-size: 1rem;
    margin: 8px 10px;
    padding: 5px;
    border-radius: 6px;
    border-width: 1.9px;
    border-style: solid;
    border-color: black;
}

#personal div{
    margin: 20px 10px;
    
}

.mname, .lname{
    margin-left: 50px;
} 

.dob, .occup, .phoneno{
    margin-left: 150px;
}


#address div{
    margin: 20px 10px;
}
.secondcol{
    margin-left: 100px;
}

#education  select {
 margin-right: 60px;
}
#education label{
    margin-left: 15px;
}
.checkbox{
    margin: 1px 10px;
    padding: 2px;
}
.btn{
    margin: 8px 12px 15px 10px;
    
}
.btn input[type ="submit"]{
    margin-left: 40px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: hsl(124, 66%, 33%);
    cursor: pointer;
}
.btn input[type ="reset"]{
    margin-left: 40px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #FFC600;
    cursor: pointer;
}
.btn input[type= "submit"]:hover{
    opacity: .9;
}
.btn input[type= "reset"]:hover{
    opacity: .9;
}