body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: 0;
    color: white;
    font-family:cursive;
    font-size: 70px;

}
section{
    margin: 0px 0px 100px 0px;
}
#drawing-board{
    display: flex;
    flex-wrap: wrap;
    border: solid rgb(96, 95, 95) 2px;
    width: 650px;
    height: 650px;
}
#drawing-board-div{
    width: 10px;
    height: 10px;
    background-color: white;
}
#main-wrapper{
    height: 100vh;
    width: 100vw;
    display: grid;
    /* grid-template-rows: 100%; */
    grid-template-columns: 20% 80%;
}
#drawingboard-wrapper{
    display: flex;
    background-color: rgb(49, 49, 49);
    align-items: center;
    justify-content: center;
}
#options-wrapper{
    display: flex;
    
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#options-wrapper div{
    display: flex;
    background-color: black;
    flex-direction: row;
}




.glow-on-hover {
    margin-top: 30px;
    width: 220px;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(46, 45, 45);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}